<template>
  <div>
    <v-text-field label="Поиск" v-model="searchValue"></v-text-field>
    <div class="text-center">
      <v-progress-circular :size="35" color="primary" indeterminate v-if="loading"></v-progress-circular>
    </div>
    <v-list id="conversation-list">
      <v-subheader class="justify-center" v-if="!loading && hasConversations">Недавние чаты.</v-subheader>
      <v-subheader
        class="justify-center"
        v-else-if="!loading && !hasConversations"
      >Нет чатов. Создайте новый.</v-subheader>

      <v-list-item-group v-model="selected" color="primary" v-scroll:#conversation-list="scroll">
        <v-list-item v-for="item in conversations" :key="item.id">
          <v-list-item-avatar
            v-for="interlocutor in userInterlocutors(item)"
            :key="interlocutor.id"
          >
            <v-badge :color="interlocutor.status.type == 'online' ? 'green' : 'red'" bottom dot>
              <v-img :src="interlocutor.avatar" :alt="interlocutor.displayName"></v-img>
            </v-badge>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title v-text="conversationTitle(item)"></v-list-item-title>
            <div>{{ item.latest.createdAt }}</div>
          </v-list-item-content>

          <v-list-item-icon>
            <v-badge
              :color="unread(item) > 0 ? 'green' : 'white'"
              :content="unread(item) > 0 ? unread(item) : ''"
            >
              <v-icon :color="item.active ? 'deep-purple accent-4' : 'grey'">chat_bubble</v-icon>
            </v-badge>
          </v-list-item-icon>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </div>
</template>

<script>
import _ from "lodash";
import Requester from "../requester";
import { store } from "../store";

export default {
  data() {
    return {
      selected: null,
      conversations: store.conversations,
      searchValue: "",
      loading: true,
      nextPage: null
    };
  },
  created() {
    this.loadConversations();
    this.connectWs();
  },
  computed: {
    userInfo() {
      return store.userInfo;
    },
    hasConversations() {
      return store.conversations.length > 0;
    },
    cursor() {
      if (!this.nextPage) {
        return "";
      }
      let searchParams = new URLSearchParams(this.nextPage.split("?")[1]);

      return searchParams.get("cursor");
    }
  },
  watch: {
    selected(index) {
      this.$emit("conversationChanged", this.conversations[index]);
    },
    searchValue(value) {
      this.search(value);
    }
  },
  methods: {
    clear() {
      this.selected = null;
      store.setConversation(null);
    },
    connectWs() {
      this.$options.sockets.onmessage = message => {
        let data = JSON.parse(message.data);

        if (data.type === "chat.conversation.new") {
          store.addConversation(data.body);
        }
      };
    },
    search(searchValue) {
      let requester = new Requester();
      this.loading = true;

      requester.conversationList(searchValue).then(response => {
        store.setConversations(response.data.data.items);
        this.loading = false;
      });
    },
    userInterlocutors(conversation) {
      return conversation.interlocutors.filter(interlocutor => {
        return interlocutor.userId !== this.userInfo.id;
      });
    },
    unread(conversation) {
      let interlocutor = conversation.interlocutors.filter(interlocutor => {
        return interlocutor.userId === this.userInfo.id;
      })[0];
      return interlocutor.unread;
    },
    loadConversations(cursor) {
      let requester = new Requester();

      if (!this.cursor && this.conversations) {
        return;
      }

      this.loading = true;

      requester.conversationList("", 10, cursor).then(response => {
        store.addConversations(response.data.data.items);

        this.conversations = store.conversations;
        this.nextPage = response.data.data.pagination.next;
        this.loading = false;
      });
    },
    conversationTitle(conversation) {
      if (conversation.title) {
        return conversation.title;
      }
      return this.userInterlocutors(conversation)
        .map(interlocutor => interlocutor.displayName)
        .join(" ");
    },
    scroll: _.throttle(function() {
      let conversation_box = document.getElementById("conversation-list");

      if (
        conversation_box.scrollTop ===
          conversation_box.scrollHeight - conversation_box.clientHeight &&
        !this.isLoading
      ) {
        this.loadConversations(this.cursor);
      }
    }, 5000)
  }
};
</script>

<style scoped>
#conversation-list {
  max-height: 300px;
  height: 300px;
  overflow: hidden;
  overflow-y: auto;
}
</style>
