<template>
  <div>
    <form action>
      <v-row class="align-center">
        <v-col :cols="10">
          <v-text-field v-model="messageText" label="Enter your text"></v-text-field>
        </v-col>
        <v-col>
          <v-btn color="success" @click="submit">Send</v-btn>
        </v-col>
      </v-row>
    </form>
  </div>
</template>

<script>
import _ from "lodash";
import { store } from "../store";

export default {
  props: {
    conversation: Object
  },
  data() {
    return {
      messageText: "",
      typingStart: false
    };
  },
  watch: {
    messageText() {
      if (!this.typingStart) {
        this.sendTypingStartMessage();
      }
      this.sendTypingStopMessage();
    }
  },
  created() {},
  computed: {},
  methods: {
    sendTypingStartMessage: function() {
      if (!this.conversation) {
        return;
      }
      this.$socket.sendObj({
        type: "chat.typing.start",
        createdAt: new Date().toISOString(),
        body: {
          conversationId: this.conversation.id
        }
      });
      this.typingStart = true;
    },
    sendTypingStopMessage: _.debounce(function() {
      if (!this.conversation) {
        return;
      }
      this.$socket.sendObj({
        type: "chat.typing.stop",
        createdAt: new Date().toISOString(),
        body: {
          conversationId: this.conversation.id
        }
      });
      this.typingStart = false;
    }, 1000),
    submit() {
      if (!this.conversation && !store.selectedSearchUsers.length) {
        return;
      }
      let body = {
        content: this.messageText
      };

      if (this.conversation) {
        body["conversationId"] = this.conversation.id;
      } else {
        body["interlocutors"] = store.selectedSearchUsers.map(user => {
          return user.id;
        });
      }
      this.$socket.sendObj({
        type: "chat.message.created",
        createdAt: new Date().toISOString(),
        body: body
      });
    }
  }
};
</script>

<style scoped>
</style>
