<template>
  <div>
    <v-snackbar
      v-model="snackbar"
      :bottom=true
      :color="snackColor"
      :right=true
      :timeout="snackTimeout"
    >{{ text }}</v-snackbar>
  </div>
</template>

<script>

export default {
  props: {
    color: String,
    timeout: Number,
    text: String
  },
  data() {
    return {
      snackbar: null,
      snackColor: this.color,
      snackText: this.text,
      snackTimeout: this.timeout ? this.timeout : 2000
    };
  },
  watch: {
    text() {
      this.showMessage()
    }
  },
  created() {},
  computed: {},
  methods: {
    showMessage() {
      this.snackColor = this.color
      this.snackbar = true
    }
  }
  }
</script>

<style scoped>
</style>
