<template>
  <div>
    <v-autocomplete
      v-model="users"
      :disabled="isUpdating"
      :items="people"
      :search-input.sync="search"
      label="Поиск"
      no-filter
      clearable
      multiple
      return-object
      hide-details
    >
      <template v-slot:selection="data">
        <v-chip v-bind="data.attrs" :input-value="data.selected" @click="data.select">
          <v-avatar left v-if="data.item.avatar">
            <v-img :src="data.item.avatar"></v-img>
          </v-avatar>
          <v-icon v-else>face</v-icon>
          {{ data.item.username }}
        </v-chip>
      </template>
      <template v-slot:item="data">
        <template>
          <v-list-item-avatar v-if="data.item.avatae">
            <img :src="data.item.avatar" />
          </v-list-item-avatar>
          <v-icon v-else>face</v-icon>
          <v-list-item-content>
            <v-list-item-title v-html="data.item.username"></v-list-item-title>
          </v-list-item-content>
        </template>
      </template>
    </v-autocomplete>
  </div>
</template>

<script>
import Requester from "../requester.js";
import _ from "lodash";
import { store } from "../store";

export default {
  data() {
    return {
      search: null,
      users: [],
      isUpdating: false,
      people: []
    };
  },
  watch: {
    search(value) {
      this.searchUser(value);
    },
    users(value) {
      store.setSearchedUser(value)
    }
  },
  methods: {
    searchUser: _.debounce(function(username) {
      let requester = new Requester();
      requester.searchUser(username).then(response => {
        this.people = response.data.data.items;
      });
    }, 200)
  }
};
</script>

<style scoped>
</style>
